<div class="container">

	<h4><i class="fa fa-key"></i> All Leases
		<button class="btn btn-success btn-sm pull-right" ui-sref="leases.detail">
			<i class="fa fa-plus"></i>Add Lease
		</button>
	</h4>		
    
    <div class="alert alert-info" ng-hide="leases.length">
            There are no leases - please add one
    </div>		

<table class="table table-bordered table-condensed table-responsive" ng-show="leases.length">
	<thead>
		<tr>
			<th>Property ID</th>
			<th>Tenant ID</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Rent</th>
			<th>Actions</th>	
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="lease in leases">
			<td>{{lease.PropertyId}}</td>
			<td>{{lease.TenantId}}</td>
			<td>{{lease.StartDate}}</td>
			<td>{{lease.EndDate}}</td>
			<td>{{lease.Rent}}</td>
			<td>
				<a class="btn btn-info btn-xs" ui-sref="leases.detail({ id: lease.LeaseId })">
					<i class="fa fa-edit fa-fw"></i>
				</a>		
				<a class="btn btn-danger btn-xs" ng-click="deleteLease(lease)">
					<i class="fa fa-remove fa-fw"></i>
				</a>
			</td>			
		</tr>
	</tbody>
</table>
</div><!-- end container-->
