<div class="container">
    <h4>{{lease.LeaseId ? 'Edit' : 'Add'}} Lease</h4>    
    <div class="well">
        <!-- Angular form for validation (block any default browser validation) -->
        <form name="leaseForm" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseProperty">Property Name</label>
                        <select class="form-control" id="leaseProperty" name="leaseProperty"
                            ng-options="property.PropertyId as property.Name for property in properties" 
                            ng-model="lease.PropertyId" required>
                        </select>
                        <div role="alert" 
                            ng-show="leaseForm.$dirty && leaseForm.leaseProperty.$error.required">
                            <span class="error">A property must be selected for the lease</span>
                        </div><!-- end alert -->
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseTenant">Tenant Name</label>
                        <select class="form-control" id="leaseTenant" name="leaseTenant"
                            ng-options="tenant.TenantId as tenant.FullName for tenant in tenants" 
                            ng-model="lease.TenantId" required>
                        </select>
                        <div role="alert" 
                            ng-show="leaseForm.$dirty && leaseForm.leaseTenant.$error.required">
                            <span class="error">A tenant must be selected for the lease</span>
                        </div><!-- end alert -->
                    </div><!-- end form group -->
                </div><!-- end column -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseStartDate">Lease Start Date</label>
                        <input type="text" class="form-control" id="leaseStartDate" name="leaseStartDate"
                            placeholder="Lease Start Date" ng-model="lease.StartDate" required>
                        <div role="alert" 
                            ng-show="leaseForm.$dirty && leaseForm.leaseStartDate.$error.required">
                            <span class="error">Start date cannot be blank</span>
                        </div><!-- end alert -->
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseEndDate">Lease End Date</label>
                        <input type="text" class="form-control" id="leaseEndDate" 
                            placeholder="Lease End Date" ng-model="lease.EndDate">
                    </div><!-- end form group --> 
                </div><!-- end column -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseType">Rental Period</label>
                        <select class="form-control" id="leaseType" name="leaseType"
                                ng-model="lease.LeaseType" convert-to-number required>
                                <option value="0">Daily</option>
                                <option value="1">Weekly</option>
                                <option value="2">Monthly</option>
                                <option value="3">Yearly</option>
                        </select>
                        <div role="alert" 
                            ng-show="leaseForm.$dirty && leaseForm.leaseType.$error.required">
                            <span class="error">A rental period must be selected</span>
                        </div><!-- end alert -->
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="leaseRent">Rent</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="leaseRent" name="leaseRent"
                                placeholder="Rent" ng-model="lease.Rent" required>
                            <div role="alert" 
                                ng-show="leaseForm.$dirty && leaseForm.leaseRent.$error.required">
                                <span class="error">Rent cannot be blank</span>
                            </div><!-- end alert -->
                        </div><!-- End input-group-->            
                    </div><!-- end form group --> 
                </div><!-- end column -->
            </div><!-- end row -->   

            <div class="row">
    	       <div class="col-sm-8">
    		      <button class="btn btn-success btn-sm" ng-click="saveLease()"
                    ng-disabled="leaseForm.leaseTenant.$error.required || leaseForm.leaseProperty.$error.required
                        || leaseForm.leaseStartDate.$error.required || leaseForm.leaseType.$error.required
                        || leaseForm.leaseRent.$error.required">
                    <i class="fa fa-save"></i> Save
        	       </button>
                </div><!-- end column -->
                <div class="col-sm-4">
                    <button class="btn btn-danger btn-sm pull-right" ui-sref="leases.list">
                        <i class="fa fa-remove fa-fw"></i> Cancel        	
        	       </button>
                </div><!-- end column -->
            </div><!-- end row -->

            <!--pre>{{lease | json}}</pre-->
        </form><!-- end form -->
    </div><!-- end well -->
</div> <!-- end container -->
