<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <!-- Login form: prevent HTML5 validation -->
            <form class="form-signin" role="form" name="loginForm" novalidate>
                <h4 class="form-signin-heading clearfix">Please log in
                    <button class="btn btn-success btn-sm pull-right" ui-sref="register">
                        Register as new user          
                    </button>
                </h4>

                <div class="form-group" 
                  ng-class="{'has-error': loginForm.username.$invalid && loginForm.$submitted }">
                    <label for="inputUsername" class="sr-only">User Name</label>
                    <input type="text" id="inputUsername" class="form-control" name="username"
                        placeholder="User name" ng-model="loginData.userName" required autofocus>
                    <span class="help-block" 
                        ng-show="loginForm.username.$invalid && loginForm.$submitted"> 
                        This is a required field
                    </span>
                </div><!-- end form-group -->

                <div class="form-group" 
                  ng-class="{'has-error': loginForm.password.$invalid && loginForm.$submitted }">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="password"
                            placeholder="Password" ng-model="loginData.password" required>
                    <span class="help-block" 
                        ng-show="loginForm.password.$invalid && loginForm.$submitted"> 
                        This is a required field
                    </span>
                </div><!-- end form-group -->

                <button class="btn btn-md btn-info btn-block" type="submit" ng-click="login()">Login</button>

            </form>
        </div><!-- end column -->
    </div><!-- end row -->
</div><!-- end container -->